*{
    padding: 0;
    box-sizing: border-box;

}

html{
    background-color: #f7f7f7;
    color: rgb(84, 82, 82);
    font-size: 1.75vw;
    font-family: 'Open Sans', sans-serif;
}

.content{
    display: flex;
    margin: 0 10vw
}

#menu {
    width: 40vw;
    margin-right: 35px;
    background-color: white;
    box-shadow: 5px 10px 10px #888888;
    text-align: center;
    overflow: scroll;
    height: 88vh;
    cursor: pointer;
}

#menu img{
    width: 90%;
}

#menu img:hover{
    transform: scale(1.2);
    width: 90%;
    transition: all .2s;
    border: crimson solid 2px;
}

img {
    width: 100%;
}

.title{
    width: 100%;
    background: crimson;
    color: white;
    padding: 25px;
}

.menuItems{
    padding: 10px;
    border-bottom: crimson solid 2px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resName{
    font-size: 5vw;
    
}

h2{
    color: crimson;
    margin-top: -3vw;    
}

#imgDetail{
    width: 80%;

}

ul{
   margin-top: -20px;
   list-style-type: none;

}

#detail{
    width: 100%;
    margin-right: 35px;
    background-color: white;
    box-shadow: 5px 10px 10px #888888;
    padding: 20px;
}

#newreview{
    width: 25vw;
    height: 35px;
}

#button{
    background: crimson;
    color: white;
    text-decoration: none;
    border: none;
    width: 80px;
    height: 35px;
}

#cars{
    width: 80px;
    height: 35px;
}

li{
    margin-bottom: 20px;
    background-color: rgba(255, 0, 51, 0.8);
    color: white;
    padding: 20px;
    font-size: 19px;
    box-shadow: 5px 10px 10px #888888;
}

p {
    color: rgb(84, 82, 82)
}

span{
    color: crimson;
    font-size: 25px;
}

.hero{
    width: 100vw;
    background: crimson;
    color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 3vw;
}

.error{
    background: orange;
    color: black;
    text-align: center;
    box-shadow: 5px 10px 10px #888888;
    margin-top: 2vw;
    display: none;
}

@media only screen and (max-width: 768px) {
    .content{
        margin: 0, 5vw;
        display: flex;
        flex-direction: column;
    }
    #menu{
        display: flex;
        flex-grow: 1;
        height: 40vw;
        width: 100%;
    }
    #menu img{
        width: 40vw;
    }
    #newreview{
        width: 32vw;
        height: 35px;
    }
    li{
        font-size: 15px;
        padding: 10px;
        margin-bottom: 15px;
    }
}